@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --dusky-blue: #3e52a3;
  --mulled-wine: #48556a;
  --porcelain: #ecf2f8;
  --rock-blue: #9eafc2;
  --slate-grey: #6d7f97;
  --white: #ffffff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  align-items: center;
  background-color: var(--porcelain);
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  min-height: 100%;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.card {
  box-shadow: 0px 2.8px 2.2px rgba(0, 0, 0, 0.02), 0px 6.7px 5.3px rgba(0, 0, 0, 0.028), 0px 12.5px 10px rgba(0, 0, 0, 0.035), 0px 22.3px 17.9px rgba(0, 0, 0, 0.042), 0px 41.8px 33.4px rgba(0, 0, 0, 0.05), 0px 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  display: grid;
  margin: 1rem;
  max-width: 20.438rem;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 48rem) {
  .card {
    grid-template-columns: 285px 1fr;
    max-width: 45.625rem;
  }
}
.card__image_container img {
  height: 200px;
  min-width: 100%;
  object-fit: cover;
  object-position: 50% 25%;
}
@media screen and (min-width: 48rem) {
  .card__image_container img {
    height: 100%;
    object-position: left 25%;
  }
}
.card__text_container {
  background-color: var(--white);
  padding: 36px 35px 20px;
}
@media screen and (min-width: 48rem) {
  .card__text_container {
    padding: 32px 40px;
  }
}
.card__heading {
  color: var(--mulled-wine);
  font: 700 1rem/1.5 Manrope, sans-serif;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 48rem) {
  .card__heading {
    font-size: 1.25rem;
  }
}
.card__description {
  color: var(--slate-grey);
  font: 500 0.813rem/1.5 Manrope, sans-serif;
}
@media screen and (min-width: 48rem) {
  .card__description {
    margin-bottom: 1.25rem;
  }
}
.card__bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.card__publication_container {
  display: flex;
  margin-top: 2rem;
}
.card__publication_container.hidden {
  display: none;
}
.card__author_photo {
  border-radius: 50%;
  height: 2.5rem;
  margin-right: 1rem;
  width: 2.5rem;
}
.card__author_text {
  display: flex;
  flex-direction: column;
}
.card__author_name {
  color: var(--mulled-wine);
  font: 700 0.813rem/1.5 Manrope, sans-serif;
}
.card__publish_date {
  color: var(--rock-blue);
  font: 500 0.813rem/1.5 Manrope, sans-serif;
}
.card__button {
  align-items: center;
  background-color: var(--porcelain);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  margin-left: auto;
  margin-top: 2rem;
  width: 2rem;
  z-index: 1;
}
.card__button.active, .card__button:hover, .card__button:focus {
  background-color: var(--slate-grey);
}
.card__button.active svg path, .card__button:hover svg path, .card__button:focus svg path {
  fill: var(--white);
}
.card__share_container {
  background-color: var(--mulled-wine);
  bottom: 0;
  display: flex;
  gap: 1.313rem;
  left: 0;
  padding: 22px 32px;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
}
.card__share_container.hidden {
  display: none;
}
.card__share_text {
  color: var(--rock-blue);
  font: 500 0.813rem/1.5 Manrope, sans-serif;
  letter-spacing: 0.417em;
}

.social_links {
  display: flex;
  gap: 1rem;
}
.social_links img {
  height: 20px;
  object-fit: contain;
  width: 20px;
}

.attribution {
  font: 500 0.688rem/1.5 Manrope, sans-serif;
  margin: 0 1rem 1rem;
  text-align: center;
}
.attribution a {
  color: var(--dusky-blue);
}

/*# sourceMappingURL=compiled_style.css.map */
