.card {

    &__text_container {
        background-color: var(--white);
    }

    &__heading {
        color: var(--very-dark-grayish-blue);
        font: 700 1rem/1.5 Manrope, sans-serif;
    }

    &__description {
        color: var(--desaturated-dark-blue);
        font: 500 0.813rem/1.5 Manrope, sans-serif;
    }
}