.card {
    box-shadow:
        0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0px 12.5px 10px rgba(0, 0, 0, 0.035),
        0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0px 100px 80px rgba(0, 0, 0, 0.07)
    ;
    border-radius: 10px;
    display: grid;
    margin: 1rem;
    max-width: 20.438rem;
    overflow: hidden;
    position: relative;

    @media screen and (min-width: 48rem) {
        grid-template-columns: 285px 1fr;
        max-width: 45.625rem;
    }

    &__image_container {

        img {
            height: 200px;
            min-width: 100%;
            object-fit: cover;
            object-position: 50% 25%;

            @media screen and (min-width: 48rem) {
                height: 100%;
                object-position: left 25%;
            }
        }
    }

    &__text_container {
        background-color: var(--white);
        padding: 36px 35px 20px;

        @media screen and (min-width: 48rem) {
            padding: 32px 40px;
        }
    }

    &__heading {
        color: var(--mulled-wine);
        font: 700 1rem/1.5 Manrope, sans-serif;
        margin-bottom: 0.75rem;

        @media screen and (min-width: 48rem) {
            font-size: 1.25rem;
        }
    }

    &__description {
        color: var(--slate-grey);
        font: 500 0.813rem/1.5 Manrope, sans-serif;
        // margin-bottom: 2rem;

        @media screen and (min-width: 48rem) {
            margin-bottom: 1.25rem;
        }
    }

    &__bottom {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__publication_container {
        display: flex;
        margin-top: 2rem;

        &.hidden {
            display: none;
        }
    }

    &__author_photo {
        border-radius: 50%;
        height: 2.5rem;
        margin-right: 1rem;
        width: 2.5rem;
    }

    &__author_text {
        display: flex;
        flex-direction: column;
    }

    &__author_name {
        color: var(--mulled-wine);
        font: 700 0.813rem/1.5 Manrope, sans-serif;
    }

    &__publish_date {
        color: var(--rock-blue);
        font: 500 0.813rem/1.5 Manrope, sans-serif;
    }

    &__button {
        align-items: center;
        background-color: var(--porcelain);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        height: 2rem;
        justify-content: center;
        margin-left: auto;
        margin-top: 2rem;
        width: 2rem;
        z-index: 1;

        &.active, &:hover, &:focus {
            background-color: var(--slate-grey);

            svg path {
                fill: var(--white);
            }
        }
    }

    &__share_container {
        background-color: var(--mulled-wine);
        bottom: 0;
        display: flex;
        gap: 1.313rem;
        left: 0;
        padding: 22px 32px;
        position: absolute;
        text-transform: uppercase;
        width: 100%;

        &.hidden {
            display: none;
        }

        @media screen and (min-width: 48rem) {
        }
    }

    &__share_text {
        color: var(--rock-blue);
        font: 500 0.813rem/1.5 Manrope, sans-serif;
        letter-spacing: 0.417em;
    }
}

.social_links {
    display: flex;
    gap: 1rem;
}