.card {
    box-shadow:
        0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0px 12.5px 10px rgba(0, 0, 0, 0.035),
        0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0px 100px 80px rgba(0, 0, 0, 0.07)
    ;
    border-radius: 10px;
    display: grid;
    margin: 1rem;
    max-width: 20.438rem;
    overflow: hidden;

    @media screen and (min-width: 48rem) {
        max-width: 45.625rem;
    }

    &__text_container {
        background-color: var(--white);
        padding: 36px 32px 20px;
    }

    &__heading {
        color: var(--mulled-wine);
        font: 700 1rem/1.5 Manrope, sans-serif;

        @media screen and (min-width: 48rem) {
            font-size: 1.25rem;
        }
    }

    &__description {
        color: var(--slate-grey);
        font: 500 0.813rem/1.5 Manrope, sans-serif;
    }

    &__publication_container {
        display: flex;
    }

    &__author_photo {
        border-radius: 50%;
        height: 2.5rem;
        margin-right: 1rem;
        width: 2.5rem;
    }

    &__author_text {
        display: flex;
        flex-direction: column;
    }

    &__author_name {
        color: var(--mulled-wine);
        font: 700 0.813rem/1.5 Manrope, sans-serif;
    }

    &__publish_date {
        color: var(--rock-blue);
        font: 500 0.813rem/1.5 Manrope, sans-serif;
    }

    &__button {
        align-items: center;
        background-color: var(--porcelain);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        height: 2rem;
        justify-content: center;
        width: 2rem;

        // img {
        //     height: 0.813rem;
        //     width: 0.938rem;
        // }

        &:hover, &:focus {
            background-color: var(--slate-grey);
        }
    }

    &__share_text {
        color: var(--rock-blue);
        font: 500 0.813rem/1.5 Manrope, sans-serif;
        letter-spacing: 0.417em;
    }
}