:root {
    --attribution-blue: #3e52a3;
    --desaturated-dark-blue: #6d7f97;
    --grayish-blue: #9eafc2;
    --light-grayish-blue: #ecf2f8;
    --very-dark-grayish-blue: #48556a;
    --white: #ffffff;
}